<h1>Update Category</h1>

<% if @category.invalid? %>
    <div class="alert alert-danger">
        <% @category.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    </div>
<% end %>

<%= form_for @category do |form| %>
<div class= "form-group">
    <label>Name</label>
    <%= form.text_field :name, class: 'form-control'  %>
</div>
<div class= "form-group">
    <label>Slug</label>
    <%= form.text_field :slug, class: 'form-control'  %>
</div>
<div class= "form-group">
    <button type="submit" class="btn btn-primary"> Update </button>
    <a href="<%= category_path(@category.id) %>" class="btn btn-secondary">Cancel</a>
</div>
<%end%>