<h1>Categories</h1>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Slug</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <% @categories.each do |category| %>
    <tbody>
        <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= category.slug %></td>
            <td> 
                    <a href="<%= category_path(car.id) %>" class="btn btn-primary">Show</a>
                    <a href="<%= edit_category_path(car.id) %>" class="btn btn-secondary">Update</a>
                    <a href="/categories/<%= car.id %>" class="btn btn-danger" data-confirm="Are you sure ?" data-method="delete">Delete</a>
            </td>
        </tr>
    </tbody>
    <%end%>
</table>