view index 
<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>
    <h1>Cars List</h1>

    <div class= "form-group">
        <label>filter by Category :</label>
        <%= form.text_field :model, class: 'form-control' %>
    </div>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col"> Category </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <% @cars.each do |car|%>
        <% if car.category %>
        <tbody>
            <tr>
                <td><%= car.id %></td>
                <td><%= car.name %></td>
                <td><%= car.model %></td>
                <td><%= car.category.name %></td>
                <td> 
                    <a href="<%= car_path(car.id) %>" class="btn btn-primary">Show</a>
                    <a href="<%= edit_car_path(car.id) %>" class="btn btn-secondary">Update</a>
                    <a href="/cars/<%= car.id %>" class="btn btn-danger" data-confirm="Are you sure ?" data-method="delete">Delete</a>
                </td>
            </tr>
        </tbody>
        <%end%>
        <%end%>
    </table>
    <a href="<%= new_car_path %>" class="btn btn-success">Create new car</a>

